<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}WebNote{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css' ) }}">
    {% endblock %}
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">首页</a></li>
        </ul>
    </nav>

    <main>
        {% for message in get_flashed_messages() %}
        <div class="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>
<footer>
    {% block footer %}
    <small> &copy; 2019 <a href="https://github.com/geekori" title="Geekori github">GitHub</a> /
                <a href="https://geekori.com/" title="geekori.com">Geekori</a>

            </small>
    {% endblock %}
</footer>
{% block scripts %}{% endblock %}
</body>
</html>
